@theme {
	/* Fonts */
	--font-sans: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		sans-serif;
	--font-besley: 'Besley', Georgia, 'Times New Roman', serif;

	/* Colors */
	--color-*: initial;
	--color-aqua-300: #acfffe;
	--color-aqua-400: #00a3a2;
	--color-aqua-500: #0f6e6d;
	--color-aqua-900: #142828;

	--color-primary-200: #64748b;
	--color-primary-300: #4b5563;
	--color-primary-400: #1a57b5;
	--color-primary-500: #003a92;
	--color-primary-900: #111827;

	--color-white: #ffffff;
	--color-black: #000000;

	--color-grey-100: #eeeeee;

	--color-dark-400: #b2ada4;
	--color-dark-600: #444444;
	--color-dark-800: #333333;

	/* Border Radius */
	--radius-2_5xl: 20px;

	/* Container */
	--container-width: 1240px;
	--container-padding: 20px;

	/* Gradients */
	--gradient-primary: linear-gradient(
		180deg,
		rgba(84, 137, 217, 0) 0%,
		#5489d9 29.08%,
		#003a92 100%
	);
	--gradient-card: linear-gradient(
		152.38deg,
		rgba(51, 116, 216, 0) -0.44%,
		#3374d8 160.64%
	);
	--gradient-icon: linear-gradient(
			136.53deg,
			rgba(25, 109, 237, 0.47) 0%,
			#0050c9 98.73%
		),
		rgba(255, 255, 255, 0.15);

	--tracking-0_3: 0.03em;

	/* Shadows */
	--shadow-header: 0px 4px 4px rgba(0, 0, 0, 0.04);

	/* Breakpoints */
	--breakpoint-xs: 30rem;
}
